<!DOCTYPE html>
<html>
	<head>
		<title>
			<%= pageTitle %>
		</title>
	</head>
	<body>
		<header>
			<div class="userWelcome">
			Welcome, <%= username ? username : 'guest' %>
			<% if (username) { %>
				<a href="/api/login/logout">Logout</a>
			<% } else { %>
				<a href="/register">Register</a>
				<a href="/login">Login</a>
			<% } %>
			</div>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<% if (userId) { %>
						<li><a href="/posts/write">Write Post</a></li>
					<% } %>
				</ul>
			</nav>
			<h1>
				<%= pageTitle %>
			</h1>
		</header>
		<% if (error) { %>
			<div class="error">
				<%= error %>
			</div>
		<% } %>
		<% if (message) { %>
			<div class="message">
				<%= message %>
			</div>
		<% } %>
