<div class="posts">
	<% if (!posts) { %>
		No posts found.
	<% } else {
		for (var i=0; i<posts.length; i++) { %>
			<article class="post">
				<h3><%= posts[i].title %></h3>
				<section class="body">
					<%= posts[i].body %>
				</section>
				<section class="author">
					Posted by
					<a href="/users/<%= posts[i].user.user_id %>">
						<img src="<%= posts[i].user.avatar.url %>" class="avatar" alt="<%= posts[i].user.username+'\'s avatar'%>">
						<%= posts[i].user.username %>
					</a>
					at
					<%= posts[i].posted_date %>
				</section>
			</article>
		<% }
	} %>
</div>
