<% include ./partials/head %>
	<img class="avatar" src="<%= user.avatar.url %>" alt="<%= user.username+'\'s avatar' %>">
	<span class="username"><%= user.username %></span>
	<a href="/users/<%= user.user_id %>/posts">View user's posts</a>
<% include ./partials/foot %>
