<% include ./partials/head %>
		<form name="register" method="post" action="/api/users">
			<label for="username">
				Username
				<input type="text" size="30" name="username">
			</label>
			<label for="password">
				Password
				<input type="password" name="password">
			</label>
			<button>Register</button>
		</form>
<% include ./partials/foot %>
