<% include ./partials/head %>
		<form name="writePost" method="post" action="/api/posts/">
			<label for="postTitle">
				Title
				<input type="text" size="255" name="postTitle">
			</label>
			<label for="postBody">
				Body
				<textarea name="postBody"></textarea>
			</label>
			<button>Submit</button>
		</form>
<% include ./partials/foot %>
